*{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}


header{
  min-height: 4rem;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
border-bottom: 1px solid black;
background-color: transparent;
backdrop-filter: blur(8px);
position: sticky;
top: 0;
}

.Links{
  display: flex;
  gap: 30px;
  align-items: center;
}

.Links a{
  text-decoration: none;
  color: black;
}

#Light{
cursor: pointer;
}


.HumburgerBar div{
  background-color: black;
  height: 0.4rem;
  width: 3rem;
}
.HumburgerBar{
  display: flex;
  flex-direction: column;
  gap: 2px;
  visibility: hidden;
  cursor: pointer;
}


@media screen and (max-width:600px) {
   .Links{
    visibility: hidden;
   }

.HumburgerBar{
  visibility: visible;
  position: relative;
  left: 180px;
}
header h1{
  font-size: 1.5rem;
}

.Links #Light{
  visibility: visible;
  position: relative;
  right: 150px;
}
.Links{
  gap: 15px
}

}



/*////////Body/////*/
#section{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  flex-wrap: wrap;
}
.Text h1{
  font-size: 2rem;
}
.Text{
  line-height: 1.2;
}

#exploreButton{
  height: 2rem;
  width: 100%;
  margin-top: 10px;
  border: none;
  color: aliceblue;
  background-color: rgb(32, 32, 32);
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
}


#exploreButton:hover{
color: aqua;
}

@media screen and (max-width:600px) {
  #section{
    gap: 0px;
  }
.Text{
  order: 1;
}
  
}

@media screen and (min-width:600px) and (max-width:900px) {
  .Text{
    order: 1;
  }

  #section{
    gap: 0px;
    padding: 20px;
  }
  
}


@media screen and (min-width:600px) and (max-width:900px) {
  .Text{
    order: 0;
  }

  #section{
    gap: 0px;
  }
  
}





/*****Items///////*/
.Cards img{
  height: 10rem;
  width: 100%;
}

.Cards{
  height: auto;
  box-shadow: 0px 0px 5px 0px;
  padding: 20px;
  border-radius: 20px;
}
.Cards button{
  min-height: 48px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
  font-size: 1rem;
  background-color: rgb(32, 32, 32);
}

.Cards button:hover{
  align-items: center;
	animation-duration: 0.25s;
	animation-name: button-pop;
	animation-timing-function: ease-out;
	appearance: button;
	background-color: oklch(0.746477 0.0216 264.436 / 0.2);
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	box-sizing: border-box;
	color: oklch(0.746477 0.0216 264.436);
	cursor: pointer;
	display: flex;
	flex: 0 0 auto;
	flex-shrink: 0;
	flex-wrap: wrap;
	font-family: Lexend, sans-serif;
	font-weight: 300;
	gap: 8px;
	justify-content: center;
	letter-spacing: 0.4px;
	line-height: 24px;
	min-height: 48px;
	padding: 0px 16px;
	place-content: normal center;
	place-items: center normal;
	text-align: center;
	transform: matrix(0.981587, 0, 0, 0.981587, 0, 0);
	transition-duration: 0.2s;
	transition-property: color, background-color, border-color, opacity, box-shadow, transform, -webkit-transform;
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
	user-select: none;
  
}
#items{
 display: grid;
 grid-template-columns: repeat(auto-fit,minmax(min(22rem,100%),1fr));
 gap: 10px;
  padding: 100px;
}



/*//////Modals//////?*/
.Container{
  height: 10rem;
  width: 20rem;
  background-color: aqua;
  height: auto;
  width: 80vh;
  z-index: 2;
  border-radius: 20px;
  background-color: #fefefe;
margin: 15% auto; 
padding: 20px;
border: 1px solid #888;
width: 80%; 
}

.Modal{
  width: 100%; 
  height: 100%;
  z-index: 1; 
  overflow: auto;
  left: 0;
top: 0;
position: fixed;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.4);
}


.Container button{
  height: 2rem;
  width: 3rem;
  border: none;
  background-color: rgb(34, 34, 34);
  border-radius: 5px;
  color: aliceblue;
}

#images{
  height: 5rem;
}

.Items{
  display: flex;
  align-items: center;
  border-bottom:1px solid black ;
}

#footer{
  height: 3rem;
  background-color: rgb(32, 32, 32);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*//////Navigation Bar/////?*/
.AfterModal{
  background-color: black;
  height: 100%;
  position: absolute;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 70px;
  
}

.AfterModal h1{
  color: aliceblue;
}

.AfterModal div{
  height:30%;
  width: 100%;
  display:flex ;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.AfterModal div:hover{
  background-color: #888;
}